<footer class="footer scene-element fade-in-up">
    <div class="footer-social-icons">
        {{! add your urls ; more icons : http://fontawesome.io/icons/ }}
        {{! twitter }}
        <a href="https://twitter.com/Ellebkey">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {{! github }}
        <a href="https://github.com/Ellebkey">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {{! facebook }}
        <a href="https://www.facebook.com/Ellebkey">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
        </a>
    </div>
    {{! more icons : http://fontawesome.io/icons/ }}
    <section class="footer-poweredby">
        <strong>hello@joelbarranco.io</strong>
    </section>
</footer>