{{!-- Default static page is almost the same as post page view so the css classes remains the same --}}
{{!-- you can add your own static pages and style it as you want --}}

{{!< default}}
{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<div class="big-header-container scene-element fade-in-down" style="z-index: 0">
  <header class="main-header" style="height: 22em; background-image: url({{@blog.cover_image}})">

    <div class="main-header-bars">
      <ul class="home-menu">
        <li>
          <a href="{{@blog.url}}">Home</a>
        </li>
        <li>
          <a href="{{url}}">Bio</a>
        </li>
      </ul> 
      <i class="fa fa-fw fa-search js-open-search"></i>
    </div>
  </header>
</div>

<main class="post-view-content scene-element fade-in-right" role="main">
  <div class="post-view-right-container">
    <article class="post-view-article {{post_class}}">
      <section class="post-content row" style="max-width: 58rem;">
        <!-- Profile -->
        <div class="small-12 columns profile">
          <div class="row">
            
            <div class="small-12 medium-5 columns">
              <div class="profile-photo">
                <img src="http://rscard.px-lab.com/img/uploads/rs-photo-v1.jpg" alt="">
              </div>
            </div>

            <div class="small-12 medium-7 columns">
              <div class="profile-info">
                <div class="profile-preword">
                  <span>Hello</span>
                </div>
                <h1 class="profile-title">
                  <span>I'm <strong>Joel Barranco</strong></span>
                </h1>
                <h2 class="profile-edu">
                  Computer Engineer
                </h2>
                <h3 class="profile-position">FullStack Developer & AI enthusiast</h3>
              </div>

              <ul class="profile-list">
                <li class="clearfix">
                    <strong class="title">Age</strong>
                    <span class="cont">25</span>
                </li>
                <li class="clearfix">
                    <strong class="title">Address</strong>
                    <span class="cont">Veracruz, México</span>
                </li>
                <li class="clearfix">
                    <strong class="title">E-mail</strong>
                    <span class="cont"><a href="mailto:hello@joelbarranco.io">hello@joelbarranco.io</a></span>
                </li>
                <li class="clearfix">
                    <strong class="title">Phone</strong>
                    <span class="cont"><a href="tel:+12562548456">+52 958 101 1652</a></span>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- Profile -->

        <!-- Socials -->
        <div class="small-12 columns" style="padding: 0;">
          <div class="profile-social">
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/Ellebkey" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/Ellebkey" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="https://github.com/Ellebkey" target="_blank"><i class="fa fa-github"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/ellebkey/" target="_blank"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/joelbarranco/" target="_blank"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Socials -->
        
        <!-- Description -->
        <div class="small-12 columns"  style="padding: 0;">
          <div class="section-txt-btn">
            <p>Hello! I’m Joel Barranco. FullStack Developer specializing in node.js and angularjs. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including JavaScript, Python, and C. Background in computer vision and machine learning.</p>
          </div>
        </div>
        <!-- Description -->

        <!-- Education -->
        <div class="small-12 columns work">
          <h2 class="section-title">Education</h2>
          <div class="timeline-box timeline-box-compact timeline-box-left" style="width: 100%">

            <div class="timeline-box-inner animate-right animated">
              <div class="date"><span>2013 - 2016</span></div>
              <h3>Bachelor Computer Engineering</h3>
              <h4>Universidad Veracruzana</h4>
            </div>
          </div>
        </div>
        <!-- Education -->

        <!-- Work -->
        <div class="small-12 columns work">
          <div class="animate-up animated">
            <h2 class="section-title">Work Experience</h2>

            <div class="timeline">
              <div class="timeline-bar"></div>
              <div class="timeline-inner clearfix" style="height: 999px;">
                <div class="timeline-box timeline-box-left" id="first">
                  <span class="dot"></span>
                  <div class="timeline-box-inner animate-right animated">
                    <span class="arrow"></span>
                    <div class="date">Jan 2017 - TODAY</div>
                    <h3>VERSE Software</h3>
                    <h4>Full Stack developer</h4>
                    <p>Worked as part of a multi-disciplinary team, carrying out ad-hoc tasks as requested by the IT Manager. Had a specific brief to ensure the websites build for customer’s precisely matched their requirements.developers and marketers.</p>
                  </div>
                </div>

                <div class="timeline-box timeline-box-right" id="second">
                  <span class="dot"></span>
                  <div class="timeline-box-inner animate-left animated">
                    <span class="arrow"></span>
                    <div class="date">Feb 2016 - Dic 2016</div>
                    <h3>VERSE Consulting</h3>
                    <h4>Web Developer</h4>
                    <p>I was responsible for working on a range of projects, designing appealing websites and interacting on a daily basis with graphic designers, back-end developers and marketers.</p>
                  </div>
                </div>

                <div class="timeline-box timeline-box-left" id="third">
                  <span class="dot"></span>
                  <div class="timeline-box-inner animate-right animated">
                    <span class="arrow"></span>
                    <div class="date">Feb 2015 - Dic 2016</div>
                    <h3>Universidad Veracruzana</h3>
                    <h4>Systems Analyst / Web Developer</h4>
                    <p>Rebuilt and enhanced existing ASP B2C site with ASP.NET 2.0 Framework and tools. Technology consists of ASP.NET 2.0 (C#), IIS, Microsoft SQL Server 2005, Stored Procedures &amp; PayPal Instant Payment Notification.</p>
                  </div>
                </div>

                <!-- <div class="timeline-box timeline-box-right" style="position: absolute; right: 0px; top: 380px;">
                  <span class="dot"></span>
                  <div class="timeline-box-inner animate-left animated">
                    <span class="arrow"></span>
                    <div class="date">2004 - 2008</div>
                    <h3>IBBBM</h3>
                    <h4>Webmaster / Web Developer</h4>
                    <p>Developed, managed, operated and promoted an Internet business.Handled customer support issues.Planned and managed business finances.</p>
                  </div>
                </div> -->

              </div>
            </div>
          </div>  
        </div>
        <!-- Work -->
        
        <!-- Portafolio -->

        <!-- Portafolio -->
        
      </section>
    </article>
  </div>
</main>


